  .child-name {
    cursor: pointer;
    color: #007bff;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .child-name:hover {
    text-decoration: underline;
  }
  .child_profile_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .child_profile_table th,
  .child_profile_table td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: left;
  }
  
  .child_profile_table th {
    background-color: #f4f4f4;
  }
  
  .child_profile_table tr:hover {
    background-color: #ff2e2e;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 3rem;
    width: 30%;
  }

  .accordion_head{
    background: transparent !important;
  }